/* LoginForm.module.css */

.login-form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
  }
  
  .login-form-column {
    margin: 0 10px;
  }
  
  .login-form-column > div {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .login-form-column h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  /* LoginForm.module.css */

.login-form-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }



  .login-form-title h1 {
    font-size: 2rem;
  }
  
  .login-form-title p {
    font-size: 1rem;
    color: #666;
  }
  
  