/* ListaProductos.module.css */

.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .productos {
    list-style: none;
    padding: 0;
  }
  
  .productos li {
    background-color: #d2e7d3;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .productos li span {
    font-weight: bold;
  }
  