/* Estilos para el contenedor principal de la aplicación */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta la altura al 100% del viewport */
  background-color: #f0f0f0; /* Color de fondo */
}

/* Estilos para el encabezado */
.App-header {
  margin-bottom: 20px; /* Espacio inferior para separar del resto del contenido */
  text-align: center; /* Centrar el texto */
}

/* Estilos para el título principal */
.App-title {
  font-size: 2.5rem; /* Tamaño del texto */
  margin-bottom: 10px; /* Espacio inferior */
  color: #333; /* Color del texto */
}

/* Estilos para el párrafo de información adicional */
.App-info {
  font-size: 1rem; /* Tamaño del texto */
  color: #666; /* Color del texto */
  max-width: 400px; /* Ancho máximo del párrafo */
  margin-bottom: 30px; /* Espacio inferior */
}


.Message {
  font-size: 20px; /* Tamaño de la letra del mensaje */
  font-weight: bold; /* Peso de la fuente */
  color: green; /* Color del texto */
  margin-top: 20px; /* Espacio superior */
}

.Form-container {
  display: flex; /* Utiliza flexbox para alinear los formularios */
  justify-content: center; /* Centra horizontalmente los formularios */
  margin-top: 20px; /* Espacio superior */
}

.Form-container > * {
  margin: 0 10px; /* Margen entre los formularios */
}

